body{
    background: #3d8383;
}
h1{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 400%;
    text-align: center;
}
#clasificaciones ol{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    text-align: center;
    display: flex;
  flex-direction: column;
  align-items: center;
}
#clasificaciones ol li{
    margin-top: 10px;
}
#clasificaciones{
    border-top: 2px solid #00191b;
    border-bottom: 2px solid #00191b;
}
a{
    color: rgb(23, 44, 44);
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 300%;
    text-align: center;
    text-decoration: none;
}
h3{
    color: rgb(31, 62, 65);
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 200%;
    text-align: center;
}