body{
    background: rgb(223, 104, 50);
}
#juego{
    width: 600px;
    height:200px;
    border: 1px solid black;
    margin: auto ;
    overflow: hidden;
    
    justify-content:center;
    align-content: center;
    touch-action: manipulation;
     background-image: url(./assets/background.jpg); 
    display: block;
    
}

#formulario{
    
    display: block;
    text-align: center;
    font-size: 150%;
    font-family:  Helvetica, Arial, sans-serif;
    color: beige;
    
}
#formulario{
    margin-top: 10px;
}


#dino{
    width:50px;
    height: 50px;
    background-image: url(assets/hombre.png);
    position: relative;
    top: 150px;
    z-index: 1;
}
#burguer{
    width: 500px;
    height: 500px;
    transform: scale(0.1);
    background-image: url(assets/latinosburguer.png);
    position: relative;
    display: block;
    top: -350px;
    z-index: 1;
}
#burguer2{
    width: 500px;
    height: 500px;
    transform: scale(0.1);
    background-image: url(assets/latinosburguer.png);
    position: relative;
    display: block;
    top: -115px;
    left: 600px;
    z-index: 1;
}
#puntos{
    font-family: Helvetica, Arial, sans-serif;
    left: 400px;
    display: inline-flex;
    position: relative;
    top: -140px;
    z-index: 1;
}
#puntuacion{
    font-family: Helvetica, Arial, sans-serif;
    left: 430px;
    display: inline-flex;
    position: relative;
    top: -140px;
    z-index: 1;
}
#musica{
    font-family: Helvetica, Arial, sans-serif;
    left: 150px;
    display: inline-flex;
    position: relative;
    top: -140px;
    z-index: 1;
    cursor: pointer;
}

.jump{
    animation: jump 0.5s linear;
}


@keyframes jump{
    0%{
        top: 150px;
    }
    30%{
        top: 100px;
    }
    50%{
        top: 80px;
    }
    80%{
        top: 130px;
    }
    100%{
        top: 150px;
    }
}

#cactus {
    width: 80px;
    height: 59px;
    position: relative;
    top: 90px;

    background-image: url(./assets/caja.png);
    background-size: 80px 59px;
    left:600px;
    
}
#cactus2 {
    width: 55px;
    height: 37px;
    position: relative;
    top: -20px;
    
    background-image: url(./assets/cactus2.png);
    background-size: 55px 37px;
    left:600px;
    
}

.perdiste{
    width: 600px;
    height:200px;
    justify-content:center;
    background-image: url(./assets/perdiste.png);

    position: relative;  
    top: -1114px;
}
.perder{
    width: 120px;
    height:60px;
    justify-content:center;
    background-image: url(./assets/trofeo.png);
    position: relative;  
    top: -1186px;
    left: 316px;
    cursor: pointer;
}

#personaje1{
    transform: scale(0.5);
    background-image: url("./assets/hombre.png");
    background-color: rgb(39, 203, 253);
    background-size: 400px 400px;
    
    position: absolute;  
    cursor: pointer;
    width: 400px;
    height: 330px;
    top: -55px;
}
#personaje2{
    float: right;
    display: flex;
    justify-content: right;
    transform: scale(0.5);
    
    background-image: url("./assets/mujer.png");
    background-color: rgb(253, 39, 207);
    background-size: 400px 400px;
    
    
    cursor: pointer;
    width: 400px;
    height: 330px;
    top: -105px;
    margin-top: -65px;
    
}
.disfrazoff{
    display: none;
}



@keyframes block{
    0% {
        left:600px;
    }
    100%{
        left:-600px;
    }
}
@keyframes fondos{
    0% {
        left:268px;
    }
    100%{
        left:668px;
    }
}

.cactus1{
    animation: block 3s infinite linear;
}
.cactus2{
    animation: block 2s infinite linear;
}
.cactus2{
    animation: block 1s infinite linear;
}